.app {
    min-width: 350px;
    width: 450px;
    margin: 0 auto;
    padding: 2rem 3rem;

    height: 80vh;

    background-color: white;
    border-radius: .5rem;
}

.app h1 {
    font-size: 1.5rem;
    color: rgb(42, 39, 44);

    margin-bottom: 2rem;
}
